name: Build and Pack NuGet Package

on:
  push:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0'

      - name: Get current version
        id: get_version
        run: |
          # Read the version from the .csproj file
          cd DriverFactory
          VERSION=$(grep -oPm1 "(?<=<Version>)[^<]+" DriverFactory.csproj)
          echo "Current version: $VERSION"
          # Increment the version (example: incrementing the patch version)
          IFS='.' read -r -a version_parts <<< "$VERSION"
          PATCH=$((version_parts[2]+1))
          NEW_VERSION="${version_parts[0]}.${version_parts[1]}.${PATCH}"
          echo "New version: $NEW_VERSION"
          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release

      - name: Test
        run: dotnet test --configuration Release

      - name: Pack
        run: dotnet pack --configuration Release --output ./nupkgs

      - name: Upload NuGet Package as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: nuget-packages
          path: ./nupkgs/*.nupkg

      - name: Update version in .csproj
        run: |
          # Update the version in the .csproj file
          cd DriverFactory
          pwd
          echo $NEW_VERSION
          sed -i "s/<Version>.*<\/Version>/<Version>${{ env.NEW_VERSION }}<\/Version>/" DriverFactory.csproj

      - name: Commit new version
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: actions@github.com
          message: "Increment NuGet package version to ${{ env.NEW_VERSION }}"
          add: './DriverFactory/DriverFactory.csproj'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
